<div id="comments-list">
	<!-- 댓글 출력 반복 -->
	{{#commentsList}}
	<div class="card">
	  <div class="card-header">
	    {{nickname}}&nbsp;&nbsp;&nbsp;&nbsp;
	    <button 
	    				type="button" 
					    class="btn btn-sm btn-outline-primary" 
					    data-bs-toggle="modal" 
					    data-bs-target="#updateModal" 
					    data-bs-whatever="@mdo"
					    
					    data-bs-id="{{id}}"
					    data-bs-nickname="{{nickname}}"
					    data-bs-body="{{body}}"
					    data-bs-article-id="{{article.id}}">수정
			</button>
		  <button 
		  				type="button" 
					 	  class="btn btn-sm btn-outline-danger" 
					 	  data-bs-toggle="modal" 
						  data-bs-target="#deleteModal"
						  
						  data-bs-id="{{id}}"
						  data-bs-nickname="{{nickname}}"
					    data-bs-body="{{body}}"
					    data-bs-article-id="{{article.id}}">삭제
		 </button>
	  </div>
	  <div class="card-body">
	   {{body}}
	  </div>
	</div>
	{{/commentsList}}
		<!-- 댓글 출력 반복 끝 -->

</div>

<!-- 모달 : 수정 -->

<div class="modal fade" id="updateModal" tabindex="-1" 
	   aria-labelledby="updateModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="updateModalLabel">댓글 수정</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      
        <form> <!-- form tag 의미가없음 그냥 습괸적으로 여기 값들은 넘겨줄 데이터들이라고 강조하는거 -->
        	<input type="hidden" id="update-id"/>
        	<input type="hidden" id="update-article-id"/>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">NickName</label>
            <input type="text" class="form-control" id="update-nickname" >
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">댓글 내용:</label>
            <textarea class="form-control" id="update-body"></textarea>
          </div>
        </form>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary"
         id="comment-update-btn">수정</button>
        <button type="button" class="btn btn-secondary"
         data-bs-dismiss="modal" id="cancel">취소</button>
      </div>
    </div>
  </div>
</div>

<!-- 모달 : 삭제 -->
<div class="modal fade" 
		 id="deleteModal" 
		 data-bs-backdrop="static" 
		 data-bs-keyboard="false" 
		 tabindex="-1" 
		 aria-labelledby="staticBackdropLabel" 
		 aria-hidden="true">
		 
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">삭제 확인</h1>
        <button type="button"
				        class="btn-close" 
				        data-bs-dismiss="modal" 
				        aria-label="Close">
				</button>
      </div>
      <div id="delete-modal-title" class="modal-body">
        <span id="delete-modal-id"></span>을 삭제하시겠습니까?
      </div>
      <div class="modal-footer">
      	<input type="hidden" id="delete-id"/>
        <button id="comment-delete-btn" type="button" class="btn btn-primary">Yes</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
      </div>
    </div>
  </div>
  
</div>

<script src="/comments_find_modal.js"></script>

<script src="/comments_fetch.js"></script>










